h2 {
    font-family: sans-serif;
    font-size: 1.6;
    line-height: 1;
    border-radius:8px ; 
    justify-content: center; 
    margin: 0;
    padding: 0;
}  
  
 header{ 
   text-align:center;
   padding: 30px 20px;
   border-radius: 8px;
   box-shadow: 0px 4px 5px;
   justify-content: center;
}
  
 body{
   
   font-family: 'segoe UI' , tahoma, Geneva, Verdana, sans-serif;
   background-color:white;
   color:black;
   line-height: 1.0;
   padding: 20px;
   justify-content:center;  
   display:inline; 
   display: block;
   
}
  
 .secao {
   padding: 20px;
   border-left: 5px solid gray; 
   border-right: 5px solid gray;
   border-radius: 8px;
   margin: 8px;
   box-shadow: inset  0px 0px 2px;
}
  
 section {
   display: block;
   
}

footer {
   align-items: center;
   text-align: center;

}   

img {
   border-radius: 8px;
}

.grid-container {
   display: grid;
   grid-template-columns: 500px 10px 10px;
   gap: 10px;
}

h1 {
   font-family: sans-serif;
   font-size: 1.6;
   line-height: 1;
   border-radius:8px ; 
   justify-content: center; 
   margin: 0;
   padding: 0;
}

.cabecalho {
   list-style: none;
   align-items: center;
   display: flex;
   justify-content: center;
   font-family: sans-serif;
   gap: 10px;
}